@{
    ViewBag.Title = "institute";
    Layout = "~/Views/Shared/Layout/_Site.cshtml";
}

@{
}
<!-- Header -->
<header class="masthead institute">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="head-title text-center pt-5 wow fadeIn fast">
                    <h2>مراکز آموزشی</h2>
                    <p>لیستی از مراکز آموزشی را مشاهده می کنید</p>
                    <!-- <a href="/" class="btn btn-primary">بیشتر بدانید...</a> -->
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Search Option -->
<div id="search-option">
    <div class="container">
        <div class="main-search">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <select id="ddl_ostanlist"  class="custom-select wow fadeInUp faster" >
                        
                        @if (ViewBag.Current_ostan==0)
                        {
                            <option class="ostanlink" value="0" data-bind="0" selected>استان</option>
                        }
                        else
                        {
                            <option class="ostanlink" value="0" data-bind="0" >استان</option>
                        }

                        @foreach (var item in ViewBag.ostanlist)
                        {
                            if(item.Code== ViewBag.Current_ostan)
                            {
                                 <option class="ostanlink" value="@item.Code" data-bind="@item.Code" selected>@item.Pname</option>
                            }
                            else
                            {
                                <option class="ostanlink" value="@item.Code" data-bind="@item.Code">@item.Pname</option>
                            }

                        }
                        
                        
                    </select>
                </div>
                <div class="col-md-3 col-sm-6">
                    <select id="ul_cities" class="custom-select wow fadeInUp faster" >
                        <option selected>شهر</option>
                        
                    </select>
                </div>
                <div class="col-md-3 col-sm-6">
                    <select id="ul_zone" class="custom-select wow fadeInUp faster" >
                        <option selected>منطقه</option>
                        
                    </select>
                </div>
                <div class="col-md-3 col-sm-6">
                    <form class="mt-2 wow fadeInUp faster">
                        <div class="form-row d-flex justify-content-center">
                            <div class="custom-control custom-checkbox">
                                <input id="boy-selected" onclick="rb_boyclick();" type="checkbox" class="custom-control-input" >
                                <label class="custom-control-label" for="boy-selected">پسرانه</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input id="girl-selected" onclick="rb_girlclick();" type="checkbox" class="custom-control-input" >
                                <label class="custom-control-label" for="girl-selected">دخترانه</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="input-group mb-1 wow fadeInUp fast">
                        
                        <input id="txt_search" oninput="txt_searchoninput();" type="text" class="form-control" placeholder="..." aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary" type="button" id="button-addon1"><i class="fas fa-search"></i>&nbsp;جستجو</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- School Card -->
<div id="school-card" class="pt-3 pb-4">
    <div id="InstituteList" class="container">
        
        <div class="title mb-3 text-right d-none">
            <h4 class="row">چند لحظه صبر کنید&nbsp;<span class="loader mr-2"></span></h4>
            <hr>
            <p>در حال دریافت اطلاعات هستیم</p>
        </div>
        <div class="title mb-3 text-right d-none">
            <h4>متاسفیم...</h4>
            <hr>
            <p>مرکز آموزشی مورد نظر پیدا نشد ، دوباره تلاش کنید</p>
        </div>

        

    </div>
</div>


<!------------------------------------- FOR PAGGING -------------------------------->
<!---------------------------------------------------------------------------------->


@section Scripts{
    <script>

        var girl = "1";
        var boy = "1";
        var search_text = "";
        var currentpage = "1";
        var current_ostan = "";
        var current_ostan_code = 0;
        var current_city = "";
        var current_city_code = 0;
        var current_zone = "";
        var current_zone_code = 0;

        function Set_span_ostan_city_zone()
        {
            $('#aostan').text(current_ostan);
            $('#acity').text(current_city);
            $('#azone').text(current_zone);
        }



        $(document).on('change', '#ddl_ostanlist', function () {
            //alert($(this).find('option:selected').text());

            $(".wrapper").removeClass("d-none");
            current_ostan_code = $(this).val();
            current_ostan = $(this).find('option:selected').text();

            current_city_code = 0;
            current_city = "";
            current_zone = "";
            current_zone_code = 0;

            Set_span_ostan_city_zone();
            load_cities(current_ostan_code);

            $("#ul_zone").html("<option selected>منطقه</option>");
        });

        
        $(document).on('change', '#ul_cities', function () {
            $(".wrapper").removeClass("d-none");
            current_city_code = $(this).val();
            current_city = $(this).find('option:selected').text();
            current_zone = "";
            current_zone_code = 0;
            Set_span_ostan_city_zone();

            load_zone(current_city_code);
        });

        
        $(document).on('click', '.zonelink', 'click', function () {
            $(".wrapper").removeClass("d-none");
            current_zone_code = $(this).data().bind;
            current_zone = $(this).prop('text');

            Set_span_ostan_city_zone();
            LoadInstituteList(boy, girl, current_ostan_code, current_city_code, current_zone_code, search_text, currentpage);


        });


        function load_cities(Code) {
            
            $.ajax
            ({
                url: "/Institutes/get_cities",
                data: { Code: Code },
                contentType: "application/html; charset=utf-8",
                type: "GET",
                cache: !0,
                datatype: "html",
                success: function (list) {
                    $("#ul_cities").html(list);
                    LoadInstituteList(boy, girl, current_ostan_code, current_city_code, current_zone_code, search_text, currentpage);
                },
                error: function () {
                    $("#ul_cities").html("Post Not Found");
                }
            })

        }

        

        function load_zone(Code)
        {

            $.ajax
            ({
                url: "/Institutes/get_zone",
                data: { Code: Code},
                contentType: "application/html; charset=utf-8",
                type: "GET",
                cache: !0,
                datatype: "html",
                success: function (list) {
                    $("#ul_zone").html(list);
                    LoadInstituteList(boy, girl, current_ostan_code, current_city_code, current_zone_code, search_text, currentpage);
                },
                error: function () {
                    $("#ul_zone").html("Post Not Found");
                }
            })

        }

        
        

        function txt_searchoninput() {
            
            if ($('#txt_search').val().length> 2)
            {
                search_text = $('#txt_search').val();
                currentpage = "1";
                LoadInstituteList(boy, girl, current_ostan_code, current_city_code, current_zone_code, search_text, currentpage);
            }
            else if ($('#txt_search').val().length <= 2 && search_text.length>2)
            {
                search_text = "";
                currentpage = "1";
                LoadInstituteList(boy, girl, current_ostan_code, current_city_code, current_zone_code, search_text, currentpage);
            }
            
        }

        function rb_girlclick() {
            $(".wrapper").removeClass("d-none");
            if ($('#girl-selected').is(':checked'))
            {
                girl = "1";
            }
            else
            {
                girl = "0";
            }
            currentpage = "1";
            LoadInstituteList(boy, girl, current_ostan_code, current_city_code, current_zone_code, search_text, currentpage);

        }



        function rb_boyclick() {
            $(".wrapper").removeClass("d-none");
            if ($('#boy-selected').is(':checked')) {
                boy = "1";
            }
            else {
                boy = "0";
            }
            currentpage = "1";
            LoadInstituteList(boy, girl, current_ostan_code, current_city_code, current_zone_code, search_text, currentpage);



        }


        $(document).on('click', '.page-link', 'click', function () {
            $(".wrapper").removeClass("d-none");
            var str = $(this).prop('title');
            currentpage = str;
            LoadInstituteList(boy, girl, current_ostan_code, current_city_code, current_zone_code, search_text, currentpage);
        });


        $(document).ready(function (ev) {
            $(".wrapper").removeClass("d-none");
            boyorgirl = "0";
            currentpage = 1;
            LoadInstituteList(boy, girl, current_ostan_code, current_city_code, current_zone_code, search_text, currentpage);
            


        });




        function LoadInstituteList(boy, girl, ostan_code, city_code, zone_code, search_text, page) {
            
            
            $.ajax
            ({
                url: "/Institutes/InstituteList",
                data: { boy:boy, girl: girl,ostan_code:current_ostan_code,city_code:current_city_code,zone_code:current_zone_code,search_text: search_text, page: page},
                contentType: "application/html; charset=utf-8",
                type: "GET",
                cache: !0,
                datatype: "html",
                success: function (t) {
                    $("#InstituteList").html(t)

                },
                error: function () {
                    $("#InstituteList").html("سرور در حال حاضر قادر به پاسخگویی نیست .")
                }
            })
        }

    </script>
}
