@model IEnumerable<ViewModel.Article_User_Rank_VM>

@{
    int Total_item, Total_page, Current_page;

    Total_item = ViewBag.Total_item;
    Total_page = ViewBag.Total_page;
    Current_page = ViewBag.Current_page + 1;
}


<div class="container">
    <div class="title mb-3 text-right">
        <h4>نتیجه جستجوی شما...</h4>
        <hr>
        <p>@Total_item مورد یافت شد</p>
    </div>
    <div class="title mb-3 text-right d-none">
        <h4 class="row">چند لحظه صبر کنید&nbsp;<div class="loader mr-2"></div></h4>
        <hr>
        <p>در حال دریافت اطلاعات هستیم</p>
    </div>
    <div class="title mb-3 text-right d-none">
        <h4>متاسفیم...</h4>
        <hr>
        <p>مرکز آموزشی مورد نظر پیدا نشد ، دوباره تلاش کنید</p>
    </div>

    <div class="row">
        <div class="wrapper d-none">
            <div class="spinner">
                <h5>لطفا چند لحظه صبر کنید...</h5>
                <br>
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-md-12">
                <div class="card-row d-flex align-items-center">
                    @{
                        string main_pic_src = "~/Content/article/images/" + item.En_Title + "-"+item.id+".png";
                        string file_src = "~/Content/article/" + item.En_Title + "-" + item.id + ".pdf";
                    }
                    <img src="@Url.Content(main_pic_src)" width="148" height="148">
                    <div class="card-text text-right">
                        <h5 class="card-title">@item.Title</h5>
                        <p>@item.Description</p>
                        <p>@item.writer</p>
                        
                    </div>
                    <div  class="card-download text-center">
                        <a  href="@Url.Content(file_src)" data-bind="@item.id" class="btn btn-primary adwn">دریافت</a>
                        <br>
                        <p>تعداد دریافت : @item.Download</p>
                    </div>
                </div>
            </div>
        }
        

    </div>
    <nav aria-label="Page navigation" dir="ltr" id="myPagination">
        <ul class="pagination justify-content-center">
            @{
                App_Start.PagerCreator pager = new App_Start.PagerCreator();
                string result_pager = pager.PagerCreator_Span(Current_page, Total_page, "#article-card");
            }

            @Html.Raw(result_pager)
        </ul>
    </nav>
</div>
